<div class="container mt-4">
    <h2 class="text-center mb-4">Multiplication Table</h2>
    <div class="row justify-content-center mb-4">
    <div class="col-md-3">
      <input type="number" class="form-control" [(ngModel)]="number" placeholder="Enter a number" />
    </div>
    <div class="col-md-3">
      <input type="number" class="form-control" [(ngModel)]="limit" (ngModelChange)="updateRange()" placeholder="Enter limit" />
    </div>
  </div>

  <div class="card shadow p-3 col-md-6 mx-auto">
    <h5 class="mb-3">Table of {{ number }}</h5>
    <ul class="list-group">
      @for (i of range; track i) {
        <li class="list-group-item">
          {{ number }} × {{ i }} = {{ number * i }}
        </li>
      }
    </ul>
  </div>
    <!-- <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let num of numbers">
            <div class="card shadow p-3">
                <h5 class="text-center">Table of {{ num }}</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let i of numbers">
            {{ num }} × {{ i }} = {{ num * i }}
          </li>
        </ul>
            </div>
        </div>
    </div> -->
</div>