.p_20{
    padding: 20px;
}
.bmi_cal {
    background-color: aqua;
    color: black;
}
.age_cal {
    background-color: burlywood;
    color: black;
}
.cur_con {
    background-color: palevioletred;
    color: black;
}
.dictionary {
    background-color: darkorchid;
    color: black;
}
.jokes {
    background-color: khaki;
    color: black;
}
.notes {
    background-color: navajowhite;
    color: black;
}
.snake_gme {
    background-color: salmon;
    color: black;
}
.stop_wtch {
    background-color: steelblue;
    color: black;
}
.wether {
    background-color: wheat;
    color: black;
}
.tables {
    background-color: violet;
    color: black;
}